<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<section>
  <h1>Animes!!!</h1>
</section>

<% animes.forEach(anime => { %>
<div>
  <a href="/animes/<%= anime._id %>"> <%= anime.name %> </a>
  <%= anime.cool ? "is pretty cool" : "its bad" %> and was added by <%=anime.owner.name
  %>
</div>
<%})%> <%-include('../partials/footer') %>
